<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
    
    {% endblock %}
    {% block extracss %}

    {% endblock %}
</head>
<body>
    {% block menu %}

    {% endblock %}
    {% block conten %}

    {% endblock %}
    {% block footer %}

    {% endblock %}
    {% block javascripts %}

    {% endblock %}
    {% block extrajs %}

    {% endblock %}
</body>
</html>