{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Calendario | Hechos con Alma{% endblock %}

{% block conten %}
<ul class="nav justify-content-center nav-tabs">
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">2021</a>
    </li>
    {% for meses in meses %}
        <li class="nav-item">
        {% if meses == mes %}
            <a class="nav-link active" aria-current="page" href="{% url 'calendario_base' %}">{{ mes }}</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'calendario' meses %}">{{ meses }}</a>
        </li>
        {% endif %}
    {% endfor %}
    <!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">2023</a>
    </li>
</ul>

<table class="table table-sm caption-top" id="calendario" style="width:95%" align="center">
    <thead align="center">
        <tr class="dias">
            <td scope="col" style="width:14%">Lunes</td>
            <td scope="col" style="width:14%">Martes</td>
            <td scope="col" style="width:14%">Miercoles</td>
            <td scope="col" style="width:14%">Jueves</td>
            <td scope="col" style="width:14%">Viernes</td>
            <td scope="col" style="width:14%">Sabado</td>
            <td scope="col" style="width:14%">Domingo</td>
        </tr>
    </thead>
    <tbody align="center">
        {% for i in cal %}
            <tr>
                {% for d in i %}
                    {% if d == 0 %}
                        <td></td>
                    {% else %}
                        <td class="{% for event in event %}{% if d == event.date.day and month == event.date.month %} table-danger {% endif %}{% endfor %} {% if d == day and month == month1 %} border border-dark {% endif %}">
                            {{ d }}
                            {% if request.user.is_admin %}
                            <br><a href="{% url 'addevent' year month d %}"><i class="bi bi-plus-lg"></i></a>
                            {% endif %}
                            {% for event in event %}
                            {% if d == event.date.day and month == event.date.month %}
                            <br><span class="badge text-bg-primary">{{ event.name }}</span>
                            {% endif %}
                            {% endfor %}
                        </td>                       
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}