td.mon, td.tue, td.wed, td.thu, td.fri, td.sat, td.sun {
    padding: 10px !important;
}
.dias {
    padding: 5px !important;
    margin: 20px !important;
}
h3 {
    align-content: center;
}
/* tue
wed
thu
fri
sat
sun */