{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block conten %}

    <div class="card border-success mb-5 my-5" style="max-width: 60rem; margin: 0 auto;">
        <div class="card-header bg-transparent border-success text-center">Bienvenido a nuestro login page</div>
        <div class="card-body text-success">
            <h5 class="card-title text-center">Ingresar</h5>
            <p class="card-text">
            {% if messages %}
                <ul class="messages">
                    {% for messages in messages %}
                    <li {% if messages.tags %} class="{{ messages.tags }}" {% endif %}>{{ messages }}</li>
                    {% endfor%}
                </ul>
            {% endif %}
            {% if user.is_authenticated %}
                <h3 class="text-center">Usted esta logeado como {{ user.username }}</h3>
                <div class="text-center">
                    <a href="{% url 'logout' %}">Cerrar sesión</a>
                    <a href="{% url 'index' %}">Volver a inicio</a>
                </div>
            {% else %}
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <div class="text-center">
                        <button class="btn btn-outline-success" type="submit">Iniciar sesión</button>
                    </div>
                </form>
            {% endif %}
            </p>
        </div>
        <div class="card-footer bg-transparent border-success"><p class="text-center">No tiene una cuenta? <span><a href="{% url 'registrar_user' %}"> Regístrate</a></span></p></div>
    </div>

    <!-- <h1>Bienvenido a nuestro login page</h1>
    {% if messages %}
        <ul class="messages">
            {% for messages in messages %}
            <li {% if messages.tags %} class="{{ messages.tags }}" {% endif %}>{{ messages }}</li>
            {% endfor%}
        </ul>
    {% endif %}

    {% if user.is_authenticated %}
        <h2>Usted esta logeado como {{ user.username }}</h2>
        <a href="{% url 'logout' %}">Cerrar sesión</a>
        <a href="{% url 'index' %}">Volver a inicio</a>
    {% else %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Iniciar sesión</button>
    </form>
    {% endif %}

    <p>No tiene una cuenta? <span><a href="{% url 'registrar_user' %}"> Regístrate</a></span></p> -->
{% endblock %}