{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block conten %}

    <!-- <div class="modal" tabindex="-1">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div> -->
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for cat in cat %}
        <div class="col text-center">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ cat.name }}</h5>
                    {% if request.user.is_authenticated %}
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <a href="{% url 'edit_category' cat.id %}"><button type="button" class="btn btn-danger">Editar Categoria</button></a>
                            <a href="{% url 'cat_delete' cat.id %}"><button type="button" class="btn btn-success">Borrar Post</button></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class='my-3'>
    <form method="post">
        <div class="mb-3">
            {% csrf_token %}
            <label for="exampleInputEmail1" class="form-label">Nueva Categoria</label>
            {{ form.name|add_class:'form-control'|attr:'type:text'|attr:'id:exampleInputEmail1'|attr:'aria-describedby:emailHelp'}}
            {% comment %} <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> {% endcomment %}
            {% comment %} <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> {% endcomment %}
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
    </div>
</div>
{% endblock %}