{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block conten %}
<div class="container">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
        {% comment %} <button class="btn btn-primary me-md-2" type="button">Button</button> {% endcomment %}
        <a href="{% url 'index' %}">
        <button class="btn btn-primary" type="button">Volver</button>
        </a>
    </div>
    {% if request.user.is_authenticated and request.user.is_admin %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
            {% comment %} <button class="btn btn-primary me-md-2" type="button">Button</button> {% endcomment %}
            <a href="{% url 'post_create' %}">
            <button class="btn btn-primary" type="button">Nuevo Blog</button>
            </a>
        </div>
    {% endif %}
{% for post in post %}
        <div class="card mb-3">
            <h5 class="card-header">{{post.category}}</h5>
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{post.content}}</p>
                <a href="{% url 'post_view' post.slug %}" class="btn btn-primary">Ver</a>
            </div>
        </div>
{% endfor %}

</div>
{% endblock %}