{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block conten %}
<div class='container'>
    {% if request.user.is_authenticated and request.user.is_admin %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
        <a href="{% url 'post_delete' post.id %}">
            <button class="btn btn-primary me-md-2" type="button">Eliminar</button>
        </a>
        <a href="{% url 'post_update' post.id %}">
            <button class="btn btn-primary" type="button">Editar</button>
        </a>
    </div>
    {% endif %}
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <p class="fs-2">{{ post.title }}</p>
        <p class="fw-light">{{ post.content }}</p>
        <img src="{{ post.image }}" alt="">
    </div>

    {% for comment in post.comments.all %}
    {{ comment.user.nombre }}
    {{ comment.user.apellido }}
    {{ comment.content }}
    {{ comment.created_at }}

    {% if request.user.is_authenticated %}
        {% if request.user == comment.user %}
            {% if comment.id == commen.id%}
            <form action="" method="post">
                {% csrf_token %}
                {{form.content}}
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>

            {% else %}
            <p>Soy el dueño {{ request.user }}</p>
            <a href="{% url 'comment_update' comment.id %}">
                <button class="btn btn-primary" type="button">Editar comentario</button>
            </a>
            <a href="{% url 'comment_delete' comment.id %}">
                <button class="btn btn-danger" type="button">Borrar comentario</button>
            </a>
            {% endif %}
        {% endif %}
    {% endif %}
    {% endfor %}

    {% comment %} <form action="" method="post">
        {% csrf_token %}
        {{form.content}}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form> {% endcomment %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
        {% comment %} <button class="btn btn-primary me-md-2" type="button">Button</button> {% endcomment %}
        <a href="{% url 'post_list' %}">
        <button class="btn btn-primary" type="button">Volver</button>
        </a>
    </div>
</div>
{% endblock %}