{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Acerca de nosotros | Hechos con Alma{% endblock %}

{% block conten %}
<div class="mx-auto cabeza inicio-style">
</div>
<div class="card mx-auto my-3" style="width: 75%;">
    <div class="card-body">
        <h5 class="card-title">Que llevan a cabo actualmente</h5>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <p class="card-text"><i class="bi bi-bookmark-check"></i> Elaboración y venta de productos de limpiezas para recaudar fondos.</p>
        <p class="card-text"><i class="bi bi-bookmark-check"></i> Huerta agroecológica para suministrar alimentos a un asilo de ancianos y dar
            sustento al comedor o a las familias que lo soliciten.</p>
        <p class="card-text"><i class="bi bi-bookmark-check"></i> Acompañamiento en duelo con profesionales , dando charlas y reuniones.</p>
        <p class="card-text"><i class="bi bi-bookmark-check"></i> Comedor y Merendero.</p>
        <!-- <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
    </div>
</div>


<div class="mx-auto my-3" style="width: 75%;">
    <div class="card border-primary mb-3" style="max-width:100%;">
        <div class="card-header">Visión y Misión</div>
        <div class="card-body text-primary">
        <h5 class="card-title">Visión</h5>
        <p class="card-text">
            Es ver que las personas que trascendieron el dolor, por medio de la fé y el amor de Dios,
            encuentren su propósito para compartirlo con el prójimo.
        </p>
        </div>
        <div class="card-body text-primary">
            <h5 class="card-title">Misión</h5>
            <p class="card-text">
                Nuestra misión es llevar la palabra de Dios, transmitir la fe a través de las obras y así sentir la presencia de su amor tomando conciencia de la maravilla de su Creación, viviendo en armonía, respeto y honra a la naturaleza, realizando huertas agroecológicas y vivencias al aire libre con grupos Boy-scouts.
                <br> Establecer relación con el prójimo en un comedor infantil, acercándonos a personas que hayan sufrido pérdidas y estén en un proceso de duelo, por medio de visitas personales, talleres donde se brinde acompañamiento espiritual y psicológico. 
                <br> Por medio de espacios radiales abrirnos a toda la comunidad, para que conociendo las actividades de la fundación se sumen a nuestro proyecto. 
            </p>
            </div>
    </div>
</div>
<div class="mx-auto" style="width: 75%;">
    <div class="card border-primary mb-3 " style="max-width:100%;">
        <div class="card-header">Objetivos</div>
        <div class="card-body text-primary">
            <h5 class="card-title">Objetivos</h5>
            <p class="card-text">
                Crear un espacio de contención y superación (económica, cultural, educativa, moral,
                social) principalmente destinada a niños y adolescentes más vulnerables de nuestra
                comunidad de Gral. San Martin, Chaco con acompañamiento del grupo familiar.
            </p>
        </div>
        <div class="card-body text-primary">
            <!-- <h5 class="card-title">Misión</h5> -->
            <p class="card-text">
                Propender a la Institución social de la población indicada (niños, jóvenes y su grupo
                familiar) fomentando actividades de diversa índole tales como: alimentación
                adecuada, a través del funcionamiento de un merendero, control nutricional y ayudas
                económicas (para la obtención de alimentos y medicamentos), educativas,
                culturales y recreativas, con apoyo escolar, enseñanza de artes (dibujo, pintura,
                danzas), talleres y oficios (construcción, peluquería, realización de artesanías,
                panadería, etc) controles médicos, odontológicos y psicológicos, ayuda moral o
                espiritualidad.
            </p>
        </div>
        <div class="card-body text-primary">
            <!-- <h5 class="card-title">Misión</h5> -->
            <p class="card-text">
                Realizar diversos eventos recreativos y culturales, que propendan a la mayor
                integración entre los miembros de la comunidad especialmente vulnerable,
                reforzando los lazos de solidaridad y cooperación, entre los mismos y el resto de la
                comunidad de Gral. San Martín Chaco.
            </p>
        </div>
        <div class="card-body text-primary">
            <!-- <h5 class="card-title">Misión</h5> -->
            <p class="card-text">
                Impulsar la integración de distintas comunidades generando ámbitos de
                capacitación para el desarrollo integral de las personas, especialmente en oficios
                que les brinden una salida laboral a corto plazo para lograr el desarrollo del hombre
                y su grupo familiar en los aspectos de infraestructura, salud, educación, deporte,
                viviendas, cloacas, comedores y trabajo en sectores vulnerables a fin de rescatar la
                dignidad de las personas.
            </p>
        </div>
        <div class="card-body text-primary">
            <!-- <h5 class="card-title">Misión</h5> -->
            <p class="card-text">
                Acordar con organismos especializados , oficiales y/o particulares, municipales,
                provinciales, nacionales o del extranjero, el intercambio de políticas, información,
                recursos humanos, financieros o de otra índole que sean conducentes a alcanzar
                por medios lícitos el mejoramiento de la calidad de vida de personas con
                necesidades básicas insatisfechas.
            </p>
        </div>
        <div class="card-body text-primary">
            <!-- <h5 class="card-title">Misión</h5> -->
            <p class="card-text">
                Gestionar y celebrar acuerdos o convenios con entidades, personas, equipos de
                investigación, universidades públicas o privadas, centro de estudios a nivel terciario
                superior, administrar proyectos de investigación y de desarrollo y otras actividades
                relacionadas con su objeto.
            </p>
        </div>
    </div>
</div>
{% endblock %}